<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <!-- <link rel="stylesheet" href="../public/botstrap_css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../botstrap_css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../custom_css/test.css" />
</head>

<body>
    <div class="navbar  navbar-default navbar-static-top " role="navigation>">
        <div class="container">

            <form id="formsend" action="search/" method="get">
                <input type="text" name="firsttext" placeholder="State" multiple />
                <input type="text" name="secndtext" placeholder="City" multiple />
                <input type="text" name="secndtext" placeholder="Village" multiple />
                <input type="text" name="secndtext" placeholder="Avan" multiple />
                <input type="submit" name="submit" id="btnSubmit" value="Search" />
            </form>
        </div>
    </div>
    <div class="container">
        <h1>

        </h1>
    </div>
</body>

</html>